.bus-image{
    width: 100%;
    height: 250px;
}
.bus-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.bus-detail-container{
    max-width: 700px;
    
}

.bookingDetailsActions{
    display: flex;
    gap: 10px;
}